<!-- <section class="about-section">
  <div class="container">
    <div class="about-wrapper">
      <div class="about-image">
        <img src="assets/image/manwithpizza.jpg" alt="Restaurant Image">
      </div>
      <div class="about-content">
        <div class="content-wrap">
          <h2 style="background-color: antiquewhite;">About Yum Spot</h2>
          <p style="background-color: aqua;">
            Hey there, welcome to Yum Spot! We're more than just a place to eat – we're a cozy hub nestled right here in the heart of Cuddalore, where every dish is a slice of our journey.
          </p> -->
          <!-- Other content -->
        <!-- </div>
      </div>
    </div>
  </div>
</section> -->
<section class="about-section">
  <div class="container">
    <div class="about-grid">
      <div class="about-image">
        <img src="assets/image/manwithpizza.jpg" alt="Restaurant Image">
      </div>
      <div class="about-details">
        <div class="about-title">
          <h2>About <span>Yum Spot</span> </h2>
        </div>
        <div class="about-text">
          
            Hey there, Welcome to YumSpot! We're more than just a place to eat, We're a cozy hub nestled right here in the heart of Cuddalore, where every dish is a slice of our journey. We started this adventure because we're passionate about bringing the best flavors to your plate. <br><br>
            <span style="font-weight: bold;color: #fd5f5f;;">Our roots?</span> They're right here, deeply connected to the vibrant food culture that defines Cuddalore.

          <br>

           Our chefs? They're the magicians behind the scenes, turning each dish into a flavorful masterpiece.But it's not just about the food.
           <br><br>
           When you step into our space, you're family. It's that simple. Whether you're here for a casual hangout, a family dinner, or a special celebration, expect warm vibes and great food.

          So, come on over and join us at YumSpot. Let's share stories over delicious bites and create new memories together in the heart of beautiful Cuddalore!
          <br><br>
          <a class="menu-button" routerLink="/menu">Check Menu</a>
        </div>
      </div>
    </div>
  </div>
</section>

