<div class="admin-wrapper">
  <div class="sidebar">
    <div class="sidebar-header">
      <h3>YumSpot</h3>
    </div>
    <ul class="sidebar-menu">
      <li><a routerLink="/admin/dashboard"><i class="fas fa-chart-bar"></i>Dashboard</a></li>
      <li><a routerLink="/admin/orders"><i class="fas fa-shopping-cart"></i>Orders</a></li>
      <li><a routerLink="/admin/food-items"><i class="fas fa-utensils"></i>Food Items</a></li>
      <li><a routerLink="/admin/payments"><i class="fas fa-money-bill"></i>Payments</a></li>
    </ul>
  </div>

  <div class="main-content">
    <!-- This will be the area where different components will load based on routing -->
    <router-outlet></router-outlet>
  </div>
</div>
