<div class="order-history">
  <div class="order-entry" *ngFor="let invoice of orderHistory" (click)="toggleOrderDetails(invoice)" [class.clicked]="selectedInvoice === invoice">
    <div class="order-info" >
      <div class="order-id">Order Id: <span>{{ invoice.invoiceId }}</span></div>
      <div class="order-date">Order Date: <span>{{ invoice.orderDate | date }}</span></div>
      <div class="order-status" [ngClass]="{ 'pending-order': invoice.orderStatus === 'Pending' }">
        <span>Status:</span> {{ invoice.orderStatus }}
      </div>
    </div>
    <div class="total-amount">
      Total: {{ calculateTotalAmount(invoice.orderDetails) | currency: 'INR' }}
    </div>
    <div class="detailed-order" *ngIf="selectedInvoice === invoice">
      <h2>Order Details - Invoice ID: {{ invoice.invoiceId }}</h2>
      <div class="order-info">
        <div>Order Date: {{ invoice.orderDate | date }}</div>
        <div>Order Status: {{ invoice.orderStatus }}</div>
      </div>
      <div class="order-items">
        <div class="order-item" *ngFor="let order of invoice.orderDetails">
          <div class="item-details">
            <div class="item-name">{{ order.foodItemName }}</div>
            <div class="item-price">Price: {{ order.foodItemPrice | currency: 'INR' }}</div>
            <div class="item-quantity">Quantity: {{ order.foodItemQty }}</div>
          </div>
          <div class="item-image">
            <img [src]="getBase64Image(order.foodItemImageUrl)" alt="Food Item Image" height="50px" width="50px">
          </div>
        </div>
      </div>
      <div class="total-amount">
        Total Amount: {{ calculateTotalAmount(invoice.orderDetails) | currency: 'INR' }}
      </div>
    </div>
  </div>
</div>
