<div class="background-wrapper">
  <div class="curved-container">
    <div class="content-wrapper">
      <div class="left-content">
        <!-- <h1 class="restaurant-name">Yum Spot Restaurant</h1> -->
        <!-- <h1 class="restaurant-name">Enjoy your Chicken Burger</h1> -->
        <h1 class="restaurant-name">Order Tasty & Fresh Food anytime!</h1>
  
  
        <h3 class="restaurant-quote">We Serve The Best You Love</h3>
  
        <a routerLink="/menu" class="menu-button">Menu</a>
      </div>
      <div class="right-content" >
        <img src="assets/image/Food-Plate.png" width="650px" height="800px" alt="Restaurant Image">
      </div>
    </div>
  </div>
</div>

<div class="why-choose-us-container">
  <h2 class="why-choose-us-title">Why Choose Us</h2>
  <div class="image-containers">
    <div class="image-container">
      <img src="assets/image/EasyToOrder.JPG" alt="Easy to Order">
      <h3 class="image-title">Easy to Order</h3>
    </div>
    <div class="image-container">
      <img src="assets/image/BestQuality.JPG" alt="Best Quality">
      <h3 class="image-title">Best Quality</h3>
    </div>
    <div class="image-container">
      <img src="assets/image/Delivery.JPG" alt="Fastest Delivery">
      <h3 class="image-title">Fastest Delivery</h3>
    </div>
  </div>
</div>


<div class="premium-foods-container">
  <h2 class="premium-foods-title">Our Premium Foods</h2>
  <div class="food-images">
    <div class="food-image">
      <img src="assets/image/burgerimage.JPG" alt="Food 1">
      <div>Burger</div>
      <br>
    </div>
    <div class="food-image">
      <img src="assets/image/pizzaimage.png" alt="Food 2">
      <div class="premium-food-name">Pizza</div>
      <br>
    </div>
    <div class="food-image">
      <img src="assets/image/BiryaniFood.png" alt="Food 3">
      <div class="premium-food-name">Biryani</div>
      <br>
    </div>
    <div class="food-image">
      <img src="assets/image/ChickenLollipopImage.png" alt="Food 3">
      <div class="premium-food-name">Chicken Lollipop<div>
      <br>
    </div>
  </div>
</div>




<!-- <svg class="cloud-offer" width="200" height="150" xmlns="http://www.w3.org/2000/svg">
  <path d="M50 100 C25 75, 100 50, 150 100 C175 130, 75 130, 50 100" fill="#A0D3FF" />
</svg> -->
